requests
cloudscraper
bs4 
python-dotenv
pyrogram==2.0.66
pymongo
tgcrypto
lxml
lk21
cfscrape
urllib3==1.26
Flask
gunicorn==20.1.0
aiohttp==3.8.1
flask_restful
pytz
motor
asyncio
curl-cffi
js2py                   
chromedriver_autoinstaller
selenium